{
    local_certs
    ocsp_stapling off
}

# Steam Start
https://steamcommunity.com, https://www.steamcommunity.com, https://cdn.steamcommunity.com, https://store.steampowered.com, https://api.steampowered.com {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://steamuserimages-a.akamaihd.net https://steamstore-a.akamaihd.net https://steamcommunity-a.akamaihd.net https://steampipe.akamaized.net https://eaassets-a.akamaihd.net {
        lb_policy random
        fail_duration 10s
        health_timeout 30s
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# Steam End

# Github Start
https://*.github.com, https://github.io, https://*.github.io, https://githubusercontent.com, https://*.githubusercontent.com {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://github.map.fastly.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://github.com {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://140.82.113.3 https://140.82.113.4 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# Github End

# VSCode.dev Start
https://vscode.dev, https://auth.vscode.dev, https://www.vscode.dev {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://13.107.213.70 https://13.107.246.70 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://open.vscode.dev {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://salmon-tree-0c34e1c0f.azurestaticapps.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# VSCode.dev End

# Discord Start
https://discord.com, https://*.discord.com {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://162.159.135.232 https://162.159.136.232 https://162.159.137.232 https://162.159.138.232 https://162.159.128.233 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://discordapp.com, https://*.discordapp.com {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://162.159.130.233 https://162.159.133.233 https://162.159.134.233 https://162.159.135.233 https://162.159.129.233 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://*.discordapp.net {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://162.159.130.232 https://162.159.133.232 https://162.159.134.232 https://162.159.128.232 https://162.159.129.232 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# Discord End

# Twitch Start
https://twitch.tv https://www.twitch.tv https://m.twitch.tv https://app.twitch.tv https://clips.twitch.tv https://gql.twitch.tv https://dashboard.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://twitch.map.fastly.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://vod-storyboards.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://dlifex0fg7ru9.cloudfront.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://vod-metro.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://d8t045al7vai0.cloudfront.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://music.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://d12b3e89c9703p.cloudfront.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://player.m7g.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://dnjmu7cm5xw9w.cloudfront.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://blog.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://d1x43om3304ey9.cloudfront.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://inspector.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://inspector-prod.us-west-2.elasticbeanstalk.com {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://stream.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://dhh9xuj2tu7k9.cloudfront.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://dev.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://d205b01qzi0xib.cloudfront.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://vod-secure.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://ds0h3roq6wcgc.cloudfront.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://extension-files.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://d36mepituis1gg.cloudfront.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
    }
    header_up Host extension-files.twitch.tv
    }
}

https://help.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://apply.cisabroad.com {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://brand.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://d2g064yykcu7rs.cloudfront.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://api.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://twitch.map.fastly.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://cvp.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://e9221.i.akamaiedge.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://gds-vhs-drops-campaign-images.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://d21oyt3pkiffdb.cloudfront.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://safety.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://accessibility.acapqa.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://player.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://twitch.map.fastly.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://us-west-2.uploads-regional.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://valkyrie-production.us-west-2.elasticbeanstalk.com {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

## Not Sure Below
https://irc-ws.chat.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://52.35.166.107 https://44.239.239.44 https://52.24.78.67 https://44.240.169.208 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://irc-ws-r.chat.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://35.81.132.173 https://54.187.76.74 https://35.163.109.205 https://34.208.36.196 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://badges.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://35.83.89.92 https://52.35.100.154 https://34.213.33.129 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://spade.twitch.tv, https://trowel.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://science-edge-external-prod-73889260.us-west-2.elb.amazonaws.com {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://countess.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://countess-prod-public-176850629.us-west-2.elb.amazonaws.com {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://assets.help.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://13.227.66.62 https://13.227.66.55 https://13.227.66.75 https://13.227.66.17 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://passport.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://54.149.120.139 https://34.211.213.19 https://44.241.141.15 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://id.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://54.149.229.88 https://52.33.60.88 https://52.89.225.134 https://52.26.89.96 https://35.162.217.152 https://54.212.193.116 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://id-cdn.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://99.84.74.110 https://99.84.74.43 https://99.84.74.67 https://99.84.74.68 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://discuss.dev.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://54.69.226.84 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://ingest.twitch.tv {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://23.160.0.253 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://usher.ttvnw.net {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://192.108.239.254 https://23.160.0.254 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# Twitch End

# Pixiv Start
https://pixiv.net, https://www.pixiv.net, https://ssl.pixiv.net, https://accounts.pixiv.net, https://touch.pixiv.net, https://oauth.secure.pixiv.net {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://210.140.131.182 https://210.140.131.180 https://210.140.131.184 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://i.pximg.net {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://210.140.92.135 https://210.140.92.136 https://210.140.92.137 https://210.140.92.139 https://210.140.92.140 https://210.140.92.141 https://210.140.92.142 https://210.140.92.143 https://210.140.92.144 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://sketch.pixiv.net {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://210.140.174.37 https://210.140.170.179 https://210.140.175.130 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy /ws* https://210.140.174.37 https://210.140.170.179 https://210.140.175.130 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://factory.pixiv.net {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://210.140.131.180 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://dic.pixiv.net, https://en-dic.pixiv.net, https://sensei.pixiv.net, https://fanbox.pixiv.net, https://payment.pixiv.net {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://210.140.131.222 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://imgaz.pixiv.net, https://comic.pixiv.net, https://novel.pixiv.net, https://source.pixiv.net, https://i1.pixiv.net, https://i2.pixiv.net, https://i3.pixiv.net, https://i4.pixiv.net {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://210.140.131.144 https://210.140.131.145 https://210.140.131.147 https://210.140.131.153 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# Pixiv End

# WikiPedia Start
https://bits.wikimedia.org, https://upload.wikimedia.org {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://upload-lb.eqiad.wikimedia.org {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://wikipedia.org, https://*.wikipedia.org, https://wikinews.org, https://*.wikinews.org, https://m.wikipedia.org, https://*.m.wikipedia.org, https://wikimedia.org, https://*.wikimedia.org, https://mediawiki.org, https://*.mediawiki.org, https://wiktionary.org, https://*.wiktionary.org, https://wikisource.org, https://*.wikisource.org, https://wikiquote.org, https://*.wikiquote.org, https://wikibooks.org, https://*.wikibooks.org, https://wikidata.org, https://*.wikidata.org, https://wikimediafoundation.org, https://*.wikimediafoundation.org, https://wikiversity.org, https://*.wikiversity.org, https://wikivoyage.org, https://*.wikivoyage.org {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://text-lb.eqiad.wikimedia.org {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# WikiPedia End

# Tumblr Start
https://tumblr.com, https://www.tumblr.com {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://66.6.32.31 https://66.6.33.31 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://*.media.tumblr.com, https://assets.tumblr.com {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://152.199.38.136 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://*.srvcs.tumblr.com {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://119.161.14.20 https://119.161.16.14 https://119.161.14.19 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# Tumblr End

# Reddit Start
https://reddit.com, https://*.reddit.com, https://redd.it, https://*.redd.it, https://*.redditmedia.com {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://reddit.map.fastly.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# Reddit End

# Imgur Start
https://imgur.com, https://*.imgur.com {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://ipv4.imgur.map.fastly.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# Imgur End

# Instagram Start
https://instagram.com, https://*.instagram.com {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://157.240.11.174 https://157.240.13.174 https://157.240.15.174 https://157.240.25.174 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# Instagram End

# OneDrive Start
https://onedrive.live.com {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://a-0010.a-msedge.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://skyapi.onedrive.live.com {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://40.90.133.99 https://40.90.136.20 https://40.90.130.203 https://13.104.208.165 https://131.253.14.230 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# OneDrive End

# PornHub Start
https://pornhub.com, https://*.pornhub.com {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://66.254.114.41 https://66.254.114.189 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# PornHub End

# Nyaa Start
https://nyaa.si {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://185.178.208.182 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://sukebei.nyaa.si {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://198.251.89.38 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# Nyaa End

# Mega Start
https://mega.nz {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://31.216.145.5 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

https://*.karere.mega.nz {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://31.216.147.155 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# Mega End

# AO3 Start
https://archiveofourown.org {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://104.153.64.122 https://208.85.241.152 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# AO3 End

# Change Start
https://change.org, https://*.change.org {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://104.17.88.51 https://104.17.89.51 {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# Change End

# BandCamp Start
https://bandcamp.com {
    tls {
        issuer internal {
            lifetime 3650d
            sign_with_root
        }
    }
    reverse_proxy * https://bandcamp.map.fastly.net {
        lb_policy random
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
# BandCamp Stop

# Common Start
:80 {
    redir https://{host}{uri} temporary
}
# Common Stop